@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500&family=Poppins&family=cocogoose&family=Lato&family=Roboto:wght@700&display=swap');
/* stylelint-disable  no-descending-specificity */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'lato' !important; /* stylelint-disable-line */
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.VH100 {
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.cover-darker {
  background-color: rgba(0, 0, 0, 0.761);
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.cover-white {
  background-color: #fff;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 5em;
  width: auto;
}

.top-tag {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1em;
  color: white;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-nav .logo {
  flex-basis: 100%;
}

.top-nav .logo img {
  width: 7em;
  height: 7em;
}

.top-nav .humberger {
  display: none;
}

.top-nav .humberger div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.top-nav nav {
  display: flex;
  margin: 0 5em;
}

.top-nav .home-mobile {
  display: none;
}

.top-nav nav ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
  font-size: large;
  font-weight: 900;
  flex-wrap: nowrap;
}

.top-nav nav ul a {
  color: rgb(78, 72, 72);
  font-size: 1.4em;
}

.top-nav nav ul a:focus {
  color: rgb(199, 47, 47);
}

.top-nav .humberger-close {
  display: none;
}

.top-nav .tag {
  border: 5px red solid;
  height: 3em;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-transform: uppercase;
  color: red;
}

.top-nav .tag span {
  white-space: nowrap;
  margin: 0 2em;
}

/* xxxxxxxxxxxxxxx landing page */

.landing-page {
  background-image: url('images/landing.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page .container > div {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  gap: 2em;
}

.landing-page .container > div h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 65pt;
  letter-spacing: 2px;  
  width: 70%;
  font-family: system-ui;
  background: -webkit-linear-gradient(rgb(197, 110, 110), rgb(92, 29, 29));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-page .container > div .greeting {
  color: rgb(218 56 56);
  font-size: 3em;
  font-family: 'Circular-Loom';
  font-weight: 100;
  margin: 4em 0 0 0;
  padding: 0;
}

.landing-page .container > div .about {
  color: rgb(78, 72, 72);
  font-size: 1.2em;
  margin: 0;
  padding: 1.5em 1em;
  border: #fff solid 3px;
  background-color: rgb(222 218 218);
  width: 50%;
}

.landing-page .container > div .date {
  color: rgb(78, 72, 72);
  font-size: 2.5em;
  font-family: 'Circular-Loom';
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.landing-page .container > div .location {
  color: rgb(78, 72, 72);
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

/* xxxxxxxxxxxxxxx program */

.main-program {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-program h2 {
  color: #fff;
}

.main-program .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
}

.main-program .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 18%;
  background-color: rgb(88, 85, 85);
  padding: 0.8em;
  align-self: baseline;
  gap: 1em;
}

.main-program .cards .card:hover {
  border: 1px #fff solid;
}

.main-program .cards .card h3 {
  color: rgb(223, 59, 59);
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.main-program .cards .card p,
.main-program .cards .card i {
  color: #fff;
  margin: 0;
  padding: 0;
}

.main-program .link-all a {
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 3em 0;
}

.main-program .input-btn {
  display: none;
}

.main-program .input-field {
  width: 100%;
  padding: 40px;
  text-align: center;
  font-size: 1.1em;
  font-weight: 900;
  background-color: rgb(220, 72, 72);
  border: none;
  color: #fff;
  white-space: nowrap;
}

/* xxxxxxxxxxxxxxx speakers */
.featured-speakers h2 {
  color: rgb(78, 72, 72);
}

.featured-speakers .speakers {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 4em;
  margin: 3em 0;
}

.featured-speakers .speakers > div {
  flex-basis: 45%;
}

.featured-speakers .speakers .speaker {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.featured-speakers .speakers .speaker > div:first-child {
  flex-basis: 40%;
}

.featured-speakers .speakers .speaker > div:nth-child(2) {
  flex-basis: 60%;
}

.featured-speakers .speakers .profile {
  position: relative;
}

.featured-speakers .speakers .profile img:first-child {
  width: 7em;
  height: 7em;
  position: absolute;
  top: -30px;
  left: -30px;
  filter: blur(2px);
}

.featured-speakers .speakers .profile img:nth-child(2) {
  width: 14em;
  height: 14em;
  position: relative;
}

.featured-speakers .speaker .bio {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.featured-speakers .speaker .biodata h3 {
  color: #000;
  text-transform: capitalize;
  padding: 0;
  margin: 0%;
  font-size: 1.8em;
  font-weight: 900;
}

.featured-speakers .speaker .biodata .position {
  color: rgb(176, 54, 54);
  padding: 0;
  margin: 0%;
  font-size: 1.1em;
}

.featured-speakers .speaker .biodata .spliter {
  width: 2em;
  border: 1px gray solid;
}

.featured-speakers .speaker .biodata .description {
  color: rgb(78, 72, 72);
  padding: 0;
  margin: 0%;
  font-size: 1.1em;
}

.featured-speakers .speaker-btn {
  display: none;
}

.featured-speakers .input-speakers {
  width: 100%;
  margin-bottom: 10px;
}

.featured-speakers .icon {
  position: absolute;
  padding: 10px;
  color: red;
  min-width: 50px;
  text-align: center;
  right: 7em;
}

.featured-speakers .input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

/* xxxxxxxxxxxxxxx partners */

.partners {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.partners > div,
.featured-speakers > div,
.main-program > div {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.partners > div:first-child,
.featured-speakers > div:first-child,
.main-program > div:first-child {
  flex-direction: column;
}

.partners h2 {
  color: #b2b0b0;
}

.partners h2,
.featured-speakers h2,
.main-program h2 {
  text-transform: capitalize;
  font-size: 2.3em;
  margin: 0;
  padding: 0;
}

.partners p.underline,
.featured-speakers p.underline,
.main-program p.underline {
  border-bottom: 1px solid red;
  width: 4%;
  margin: 0;
  padding: 10px 0 0 0;
}

.partners img {
  width: 14.33%;
  height: 96px;
  margin: 0 20px;
}

/* xxxxxxxxxxxxxxx footer */

footer .container > div {
  width: 100%;
  display: flex;
  color: rgb(62, 60, 60);
  padding: 1em 0;
}

footer .container > div > a {
  flex-basis: 40%;
  display: flex;
  color: black;
  align-items: center;
  justify-content: start;
}

footer .container > div > a span {
  margin-left: 0.5em;
  font-size: 2em;
  font-weight: 900;
  text-transform: capitalize;
}

footer .container > div a img {
  height: 5em;
  width: 5em;
  border-radius: 50%;
}

footer .container > div > div {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}
