/* stylelint-disable  no-descending-specificity */
@media all and (max-width: 768px) {
  .cover-darker-desktop {
    background-color: inherit !important;
    color: #fff;
  }

  .cover-darker-desktop * {
    color: black !important;
  }

  .container {
    margin: 0 1em;
    width: auto;
  }

  .top-tag {
    display: none;
  }

  .top-nav {
    flex-direction: column;
    align-items: start;
  }

  .top-nav .logo {
    display: none;
  }

  .top-nav .humberger {
    display: block;
  }

  .top-nav nav {
    margin: 0 0;
    flex-basis: 100%;
    width: 100%;
    order: 2;
    display: none;
  }

  .top-nav nav ul {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .top-nav .home-mobile {
    display: flex;
  }

  .top-nav nav ul li {
    border-bottom: 1px solid gray;
  }

  .top-nav nav ul li a {
    font-size: xxx-large;
  }

  .top-nav .humberger-close {
    /* display: block; */
    margin-top: 1em;
    align-self: end;
  }

  .top-nav .tag {
    display: none;
  }

  /* xxxxxxxxxxxxxxx About page */

  .about-page .container > div {
    height: auto;
    gap: 1em;
  }

  .about-page .container > div h1 {
    font-size: 28pt;
    width: 100%;
    text-align: center;
  }

  .about-page .container > div .greeting {
    visibility: visible;
  }

  .about-page .container > div .about {
    padding: 1em 1em;
    width: 100%;
  }

  .about-page .container > div .contactus {
    font-size: 1.1em;
    text-align: center;
  }

  .about-page .container > div .mail {
    font-size: 1em;
    margin-bottom: 3em;
  }

  /* xxxxxxxxxxxx logo page */

  .logo-page h2 {
    margin: 0.5em 0;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
  }

  .logo-page .about {
    font-size: 1.1em;
    padding: 1em 0;
    width: 100%;
  }

  .logo-page img {
    border: 1px #cfbcbc solid;
    margin-bottom: 2em;
    width: 100%;
  }

  /* xxxxxxxxxxxxxx past summits */

  .past-summits h2 {
    margin: 0.5em 0;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
  }

  .past-summits .about {
    font-size: 1.1em;
    padding: 1em 0;
    width: 100%;
  }

  .past-summits .summits {
    flex-direction: column;
    width: 100%;
  }

  .past-summits .summits > div {
    flex-basis: 100%;
  }

  .past-summits .summits > div .text {
    top: 15%;
    left: 0;
    text-align: center;
  }

  .past-summits .summits > div .text h3 {
    font-size: 3em;
  }

  .past-summits .summits > div .text p {
    font-size: 1.3em;
  }

  .past-summits .summits > div img {
    outline: 8em solid rgba(255, 0, 0, 0.353) !important;
    outline-offset: -8em;
    height: 13em;
    width: 18em;
  }

  /* xxxxxxxxxxxxxxx landing page */

.landing-page {
  background: url('images/mobile_intro_bg.png') no-repeat top;
  height: auto;
}

  .landing-page .container > div {
    gap: 1em;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .landing-page .container > div img {
    width: 100%;
  }

  .landing-page .container > div .about {
    margin: 17px 0;
    width: 100%;
    padding: 1em 0.5em;
    line-height: 150%;
    font-size: 13px;
    height: auto;
    text-align: justify;
    word-break: break-all;
  }

  .landing-page .container > div .date {
    font-size: 1.5em;
  }

  .landing-page .container > div .location {
    font-size: 1em;
  }

  /* xxxxxxxxxxxxxxx program */

  /* .main-program .cards {
    flex-direction: column;
    gap: 0.8em;
  }

  .main-program .cards .card {
    flex-direction: row;
    justify-content: start;
    flex-basis: 100%;
  } */

  .main-program  .grid-container {
    grid-template-columns: auto;
    padding: 0;
  }

  .main-program .card {
    flex-direction: row;
    flex-basis: 100%;
    height: auto;
  }

  .main-program .link-all a {
    display: none;
  }

  .main-program .input-btn {
    display: flex;
  }

  /* xxxxxxxxxxxxxxx speakers */

  .featured-speakers .speakers {
    margin: 2em 0;
  }

  .featured-speakers .speakers > div {
    flex-basis: 100%;
  }

  .featured-speakers .speakers .speaker > div:first-child {
    flex-basis: 32%;
  }

  .featured-speakers .speakers .speaker > div:nth-child(2) {
    flex-basis: 78%;
  }

  .featured-speakers .speakers .profile img:first-child {
    width: 3em;
    height: 3em;
    top: -8px;
    left: -8px;
  }

  .featured-speakers .speakers .profile img:nth-child(2) {
    width: 6em;
    height: 6em;
  }

  .featured-speakers .speaker .biodata h3 {
    font-size: 1.2em;
  }

  .featured-speakers .speaker .biodata .position {
    font-size: 1em;
  }

  .featured-speakers .speaker .biodata .description {
    font-size: 1em;
  }

  .featured-speakers .speaker-btn {
    display: block;
  }

  /* xxxxxxxxxxxxxxx partners */

  .partners > div,
  .featured-speakers > div,
  .main-program > div,
  .logo-page > div,
  .past-summits > div {
    padding: 20px 0;
  }

  .partners h2,
  .featured-speakers h2,
  .main-program h2 {
    font-size: 1.5em;
  }

  .partners p.underline,
  .featured-speakers p.underline,
  .main-program p.underline {
    width: 15%;
  }

  .partners img {
    width: 21.33%;
    height: 37px;
    margin: 0 18px;
  }

  /* xxxxxxxxxxxxxxxxxx footer */

  footer .container > div a img {
    height: 3em;
    width: 3em;
  }

  footer .container > div > a span {
    font-size: 1em;
  }

  footer .container > div > div > p {
    display: none;
  }

  footer .container > div > div span {
    font-size: 0.8em;
    padding-left: 1em;
  }
}
